<section>

<h3>利用規約のご案内</h3>
<p>オリジナルアプリ作るにあったって使用した他サイトの詳細です。</p>
<p><span class="color1">■<strong>「Sports planning」のロゴ</strong></span><br>
<a href="https://www.squarespace.com/logo/#N4IghgrgLgFgpgExALigJwnAvkA">Squarespace Logo</a>を使用させていただきました。</p>

<p><span class="color1">■<strong>ホームページテンプレート</strong></span><br>
<a href="https://template-party.com/">Template Party</a>にて無料配布されている物を使用させていただきました。</p>

<h3>ご不明点</h3>
<p>こちらをご覧下さい。</p>

</section>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->